/* line 23, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 2.5em;
}

/* line 26, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
h1, h2, h3, p, li, figure, body {
  margin: 0;
}

/* line 28, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
ul {
  margin: 0;
}

/* line 30, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.hero {
  position: relative;
  background: url("img/candlelight.jpg") no-repeat;
  background-size: cover;
  color: #fdfdfd;
  height: 35vw;
}

@media (max-width: 950px) {
  /* line 30, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
  .hero {
    height: 30vw;
    min-height: 350px;
  }
}

/* line 39, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.hero__title {
  position: absolute;
  display: flex;
  top: 5%;
  left: 16.66667%;
}

/* line 44, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.hero__title h1 {
  padding-top: 1.25em;
}

/* line 46, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.hero__title figure img {
  height: 100px;
  float: left;
}

/* line 49, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.hero__info {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 5%;
  left: 0px;
  width: 100%;
}

@media (max-width: 950px) {
  /* line 49, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
  .hero__info {
    flex-wrap: wrap;
  }
}

/* line 58, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.hero__info__schedule {
  float: left;
  display: flex;
}

/* line 62, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.hero__info__schedule__sessions {
  text-align: right;
  margin-right: 1em;
}

/* line 65, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.hero__info__schedule__times {
  font-weight: bold;
}

/* line 67, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.hero__info__address {
  float: left;
}

/* line 69, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.mission_statement {
  background: #225173;
  width: 100%;
  min-height: 15em;
}

/* line 73, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.mission_statement blockquote {
  padding: 5% 0;
  margin: auto;
  margin-top: 0;
  width: 60%;
  color: #fdfdfd;
  text-align: center;
}

/* line 80, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.pastor {
  background: #fdfdfd;
  min-height: 350px;
  padding: 5% 8.33333%;
}

/* line 84, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.pastor__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 88, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.pastor__content__portrait {
  float: left;
  margin-right: 2em;
}

/* line 91, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.pastor__content__portrait img {
  max-height: 500px;
}

@media (max-width: 1250px) {
  /* line 88, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
  .pastor__content__portrait {
    margin-right: 0;
  }
}

/* line 95, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.pastor__content__description {
  position: relative;
  float: left;
  line-height: 1.75em;
  text-indent: 2em;
  width: 50%;
}

@media (max-width: 1250px) {
  /* line 95, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
  .pastor__content__description {
    width: 100%;
  }
}

/* line 103, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.pastor__title {
  text-align: center;
}

/* line 105, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.calendar {
  min-height: 500px;
  width: 100%;
  padding: 5% 0;
  background: #dddddd;
}

/* line 110, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.calendar__title {
  text-align: center;
}

/* line 112, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.calendar__embed {
  display: flex;
  justify-content: center;
}

/* line 116, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.footer {
  background: #225173;
  color: #fdfdfd;
  padding: 2em 0;
  min-height: 200px;
  justify-content: center;
}

/* line 122, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 950px) {
  /* line 122, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
  .footer div {
    justify-content: flex-start;
  }
}

/* line 128, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.footer section {
  margin: 1.5em 4.16667%;
}

@media (max-width: 950px) {
  /* line 128, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
  .footer section {
    width: 40%;
  }
}

@media (max-width: 600px) {
  /* line 128, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
  .footer section {
    width: 100%;
  }
}

/* line 135, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.footer section div ul {
  list-style-type: none;
  padding: 0;
  line-height: 1.5em;
  white-space: nowrap;
}

/* line 142, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.footer__contact_us li:nth-child(odd), .footer__hours li:nth-child(odd) {
  font-weight: bold;
}

/* line 144, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
.footer__contact_us li:nth-child(even), .footer__hours li:nth-child(even) {
  margin-bottom: .5em;
}

/*# sourceMappingURL=../public/app.map */