$primary-color: #225173
$secondary-color: #fdfdfd
$tertiary-color: #dddddd


body
	font-family: 'Montserrat', sans-serif
	margin: 0
	line-height: 2.5em
figure
	margin: 0
.hero
	background: url('img/candlelight.jpg')
	color: $secondary-color
h1, h2, h3, p, li
	margin: 0
.mission_statement
	background: $primary-color
	width: 100%
	min-height: 15em
	blockquote
		padding: 5% 0
		margin: auto
		margin-top: 0
		width: 60%
		color: $secondary-color
		text-align: center
.pastor
	background: $secondary-color
	.pastor__portrait
		float: left
	.pastor__description
		line-height: 1.75em
.calendar
	min-height: 500px
	width: 100%
	padding-top: 10%
	background: $tertiary-color
.calendar__calendar
	height: 250px
	width: 50%
	background: lightgreen
	margin: auto
footer
	background: $primary-color
	color: $secondary-color